---
import Breadcrumb from "@/components/Breadcrumb.astro";
import BlogPost from "../../components/blog/BlogPost.astro";
import Layout from "../../layouts/Layout.astro";
export const prerender = true;

export async function getStaticPaths() {
  const allPosts = Object.values(
    import.meta.glob("../articles/*.md", { eager: true })
  );

  // Récupérer tous les projets de portfolio
  const allProjects = Object.values(
    import.meta.glob("../projects/*.md", { eager: true })
  );

  const uniqueTags = [
    ...new Set(allPosts.flatMap((post: any) => post.frontmatter.tags || [])),
    ...new Set(
      allProjects.flatMap((project: any) => project.frontmatter.tags || [])
    ),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      (post.frontmatter.tags || []).includes(tag)
    );
    const filteredProjects = allProjects.filter((project: any) =>
      (project.frontmatter.tags || []).includes(tag)
    );

    return {
      params: { tag },
      props: { posts: filteredPosts, projects: filteredProjects },
    };
  });
}

const { tag } = Astro.params;
const { posts = [], projects = [] } = Astro.props;
---

<Layout title={`Articles et projets étiquetés : ${tag}`}>
  <Breadcrumb pageTitle="tags" title=` ${tag}` />

  <div class="container mx-auto px-4 py-8">
    <!-- Titre et tag -->
    <div class="text-center mb-8">
      <h1 class="text-4xl font-bold text-gray-900 dark:text-white">
        Articles et projets étiquetés :
      </h1>
      <span
        class="inline-block mt-3 px-4 py-2 bg-mint-500 text-white text-sm font-semibold rounded-full shadow-md"
      >
        #{tag}
      </span>
    </div>

    <!-- Liste des articles -->
    <section class="max-w-6xl mx-auto p-6">
      <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-4">
        📚 Articles
      </h2>
      <ul class="grid grid-cols-1 gap-6">
        {
          posts.map((post: any) => (
            <BlogPost
              url={post.url}
              title={post.frontmatter.title}
              author={post.frontmatter.author}
              date={post.frontmatter.pubDate}
              readTime={post.frontmatter.readTime}
              image={post.frontmatter.image?.url}
            />
          ))
        }
      </ul>
    </section>

    <!-- Liste des projets -->
    <section class="max-w-6xl mx-auto p-6">
      <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-4">
        🚀 Projets
      </h2>
      <ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          projects.map((project: any) => (
            <BlogPost
              url={project.url}
              title={project.frontmatter.title}
              author={project.frontmatter.author}
              date={project.frontmatter.pubDate}
              readTime={project.frontmatter.readTime}
              image={project.frontmatter.image?.url}
            />
          ))
        }
      </ul>
    </section>
  </div>
</Layout>
