---
import CalScheduler from "@/components/CalScheduler.astro";
import Experience from "../components/about/Experience.astro";
import Formation from "../components/about/Formation.astro";
import Intro from "../components/about/Intro.astro";
import SkillContent from "../components/about/SkillContent.astro";
import { education, experiences, skills } from "../data.js";
import Layout from "../layouts/Layout.astro";
---

<Layout title="À propos - Mon Parcours">
  <section class="max-w-6xl mx-auto">
    <div class="rounded-lg shadow-md overflow-hidden">
      <div class="p-8">
        <!-- Introduction -->
        <Intro />
        <!--   <CalScheduler /> -->
        <!-- Compétences -->
        <div class="mb-10">
          <div class="flex items-center mb-6 gap-5">
            <h2 class="text-2xl font-semibold text-gray-900">Compétences</h2>
            <div class="flex gap-3">
              <span
                class="px-3 py-1 text-sm font-medium rounded-full bg-red-100 text-red-700 border-2 border-red-700 cursor-pointer"
              >
                Avancé
              </span>
              <span
                class="px-3 py-1 text-sm font-medium rounded-full bg-yellow-100 text-yellow-700 border-2 border-yellow-700 cursor-pointer"
              >
                Intermédiaire</span
              >
              <span
                class="px-3 py-1 text-sm font-medium rounded-full bg-green-100 text-green-700 border-2 border-green-700 cursor-pointer"
                >Débutant</span
              >
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-1 gap-6">
            {
              skills.map((skillGroup) => (
                <SkillContent
                  category={skillGroup.category}
                  items={skillGroup.items}
                />
              ))
            }
          </div>
        </div>

        <!-- Expérience professionnelle -->
        <div class="mb-10">
          <h2 class="text-2xl font-semibold mb-4 text-gray-900">
            Expérience professionnelle
          </h2>
          <div class="space-y-6">
            {
              experiences.map((exp) => (
                <Experience
                  title={exp.title}
                  company={exp.company}
                  period={exp.period}
                  description={exp.description}
                />
              ))
            }
          </div>
        </div>

        <!-- Formation -->
        <div>
          <h2 class="text-2xl font-semibold mb-4 text-gray-900">Formation</h2>

          <div class="space-y-4">
            {
              education.map((edu) => (
                <Formation
                  degree={edu.degree}
                  institution={edu.institution}
                  period={edu.period}
                />
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
