---
import BlogPostCard from "@/components/blog/BlogPostCard.astro";
import { getCollection } from "astro:content";
import BlogPost from "../components/blog/BlogPost.astro";
import Layout from "../layouts/Layout.astro";

const allPosts = await getCollection("blog");
---

<Layout title="Blog - Articles et Actualités">
  <section class="max-w-6xl mx-auto p-6">
    <h1
      class="text-4xl font-extrabold mb-8 text-gray-800 dark:text-gray-100 text-center"
    >
      Blog & Actualités
    </h1>

    <!-- Liste des articles -->
    <article>
      <h2
        class="text-2xl font-semibold text-gray-800 dark:text-gray-100 mb-4 ml-2"
      >
        <span class="uppercase">à</span> la une
      </h2>
      <ul class="grid grid-cols-1 gap-6">
        {
          allPosts.map((post) => (
            <BlogPost
              url={`/posts/${post.id}`}
              title={post.data.title}
              date={post.data.pubDate}
              image={post.data.image.url}
              author={post.data.author}
              readTime={post.data.readTime}
              description={post.data.description}
            />
          ))
        }
      </ul>
    </article>
    <article>
      <h2
        class="text-2xl font-semibold text-gray-800 dark:text-gray-100 mt-8 mb-4 ml-2"
      >
        <span class="uppercase"> à</span> lire
      </h2>
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          allPosts.map((post) => (
            <BlogPostCard
              url={`/posts/${post.id}`}
              title={post.data.title}
              date={post.data.pubDate}
              image={post.data.image.url}
              author={post.data.author}
              readTime={post.data.readTime}
              description={post.data.description}
            />
          ))
        }
      </ul>
    </article>
  </section>
</Layout>
