---
interface Props {
  url: string;
  title: string;
  date: Date;
  image: string;
  author: string;
  readTime?: string;
  description: string;
}

const {
  url,
  title,
  date,
  author,
  image,
  readTime = "5 min",
  description,
} = Astro.props;
---

<li
  class="group bg-white rounded-xl overflow-hidden relative shadow-md hover:shadow-xl transition-all duration-300 transform hover:-translate-y-1 hover:scale-100 cursor-pointer"
>
  <a href={url}>
    <div class="flex flex-col mb-6">
      <div class="m-4">
        <img
          src={image}
          alt={title}
          class="w-full h-40 md:h-full object-cover transition-transform duration-300 rounded-lg"
        />
      </div>
      <div class="px-4 py-2 flex flex-col justify-between">
        <div>
          <h2
            class="font-bold mb-4 text-xl text-mint-800 transition-colors line-clamp-1 duration-300 group-hover:text-primary-500"
          >
            {title}
          </h2>
          <p
            class="flex items-center text-sm text-gray-500 mb-3 justify-between sm:justify-start"
          >
            <span>{author}</span>
            <span class="mx-2 hidden sm:inline">•</span>
            <span>{readTime} de lecture</span>
          </p>
          <div class="line-clamp-3">
            <p class="text-gray-600">{description}</p>
          </div>
        </div>
        <span class="text-sm text-gray-500 text-right mt-4"
          >{new Date(date).toLocaleDateString("fr-FR")}</span
        >
      </div>
    </div>
  </a>
</li>
